body{
  background-color: grey; 
}

h1, h2, h3{
  text-align: center;
}

#wrapper{
  width: 80%;
  margin: auto;
  background-color: lightblue;
  box-shadow: 10px 5px;
}

div{
  width: 90%;
  margin: auto;
}

.itembox{
  border-style: dotted dashed solid double;
  border-radius: 15px;
  box-shadow: 10px 5px black;
  background-color: silver;
  color: darkolivegreen;
  padding: 10px;
  
}

.favorite{
  border-style: solid;
  border-radius: 15px;
  box-shadow: 5px 5px black;
  background-color: gold;
  color: royalblue;
  padding: 10px;
  
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

nav ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}